* {
  margin: 0;
  padding: 0;
}
#content {
  width: 40vw;
  height: 90vh;
  margin-bottom: 50px;
  margin: 15px auto;
  background-color: #ebebeb;
  box-sizing: border-box;
}
.display {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}
.display input {
  width: 100%;
  line-height: 2em;
  font-size: 2em;
}
#Tombol-Kalkulator {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px;
}
.tombol {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}
.tombol input {
  width: 100%;
  font-size: 2em;
  padding: 10px;
}
.tombol:nth-child(1) {
  /* 0 */
  order: 14;
}
.tombol:nth-child(2) {
  /* 1 */
  order: 1;
}
.tombol:nth-child(3) {
  /* 2 */
  order: 2;
}
.tombol:nth-child(4) {
  /* 3 */
  order: 3;
}
.tombol:nth-child(5) {
  /* 4 */
  order: 5;
}
.tombol:nth-child(6) {
  /* 5 */
  order: 6;
}
.tombol:nth-child(7) {
  /* 6 */
  order: 7;
}
.tombol:nth-child(8) {
  /* 7 */
  order: 9;
}
.tombol:nth-child(9) {
  /* 8 */
  order: 10;
}
.tombol:nth-child(10) {
  /* 9 */
  order: 11;
}
.tombol:nth-child(11) {
  /* + */
  order: 4;
}
.tombol:nth-child(12) {
  /* - */
  order: 8;
}
.tombol:nth-child(13) {
  /* (*) */
  order: 12;
}
.tombol:nth-child(14) {
  /* / */
  order: 15;
}
.tombol:nth-child(15) {
  /* = */
  order: 17;
}
.tombol:nth-child(16) {
  order: 13;
}
.tombol:nth-child(17) {
  order: 18;
}
.tombol:nth-child(17) input {
  background-color: red;
}
.tombol:nth-child(17) input:hover {
  background-color: orange;
}
@media screen and (max-width: 576px) {
  #content {
    width: 100vw;
  }
}
